/* Global resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
    color: #424242;
    line-height: 1.4;
}
/* colors */
$blue: #20A1D4;
$green: #1CBC2C;
$orange: #EF5F3C;
$black: #424242;
$grey: #777;
$light grey: #eaeaea;
/* Fonts */
h1 {
    font-family: "rooney-web", 'AmericanTypewriter', Rockwell, serif;
    font-size: 2.5em;
    font-weight: bold;
}
.container {
    position: relative;
    margin: 2em auto;
    max-width: 75%;
    text-align: center;
}
/*play with media queries and max and min widths  */
/* Your CSS goes here */
button{
  background: #eaeaea;
  border: 1px solid #eaeaea; 
  border-radius: 3%;
  color: #777;
  height: 30px;
  margin: 2%;
  padding: .5%;
  width:27.5%;
  
}

input{
 border: 1px solid #eaeaea;
 width: 50%; 
 padding: 3%;
 border-radius: 8%;
 margin: 4%
}

p{
 color: #777;
 font-size: .75em; 
  
}

span{
 color: #777;  
}

.bar{
  border: 1px solid #eaeaea;
  margin-left:20%;
  margin-top: 20%;
  width: 60%;
  height: 14px;
  
}

.bold-number{
  font-weight: 900;
}

.column1{
  float: left;
}

.column2{
 float: right;
 margin-right: 10%;
}

.donate-container{
  border: 1px solid #eaeaea; 
  margin-left:20%;
  width: 60%;
  height: 170px
}
/*try setting min width to control breakage as well*/
.donate-content{
  margin-left: 10%;
  padding-top:1%;
  text-align: left;
  white-space: nowrap
}
/*to prevent breakage try setting media queries and have font size go smaller  */
.give-button{
  color: white;
  background: #1CBC2C; 
  border: 1px solid #1CBC2C; 
  border-radius:5%;
  padding:5%;
  width: 110%;
  
}

.red-letters{
  display:inline;
  font-weight: bold;
  color: #EF5F3C   
}

.update-bubble{
    background-color: #424242;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    color: white;
    width:60%;
    text-align: center;
    padding: 20px;
    position: absolute;
    top:-31%;
    left: 20%;
    white-space: nowrap
}

.speech-bubble .arrow {
    border-style: solid;
    position: absolute;
}

.bottom {
    border-color: #c8c8c8 transparent transparent transparent;
    border-width: 8px 8px 0px 8px;
    bottom: -7px;
}

.bottom:after {
    border-color: #424242 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 7px 0px 7px;
    bottom: 1px;
    content: "";
    position: absolute;
    left: 75%;
    bottom: -6px
}

.update{
  background: #EF5F3C;
  border: 1px solid #eaeaea;
  width: 75%;
  height: 14px;
  
}

.whyDeco{
  font-style: italic;
  color: #20A1D4   
    
}

